@model AllProductsViewModel

<div class="card col-3 h-40" style="width: 19rem; margin: 0.5em;">
    <img src="@Model.PictureUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Product Image">
    <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper" style="height: 6em; overflow: hidden;">
                    <h4 class="card-title mt-1">
                        @Model.Name
                        @if (!string.IsNullOrEmpty(Model.TradeMark))
                        {
                            <span> @Model.TradeMark</span>
                        }
                        <h4 style="color:brown"> @Model.ProductType</h4>
                    </h4>
                </div>
            </div>
        </div>
        <p class="mb-0"><span class="fw-bold">Category: </span>@Model.Category</p>
        <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price</p>
    </div>
    <div class="row gx-0">
            <div class="col-6 px-1">
                <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-success btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Add to Cart</a>
            </div>
            <div class="col-6 px-1">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Details</a>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
