@model AllProductQueryModel

@{
    ViewBag.Title = "All Products";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="row">
        <div class="form-group col-md-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control" style="width:12.2em">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="TradeMark"></label>
                <select asp-for="TradeMark" class="form-control" style="width:12.2em">
                    <option value="">All</option>
                    @foreach (var tradeMark in Model.TradeMarks)
                    {
                        <option value="@tradeMark">@tradeMark</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="ProductType"></label>
                <select asp-for="ProductType" class="form-control" style="width:12.2em">
                    <option value="">All</option>
                    @foreach (var productType in Model.ProductTypes)
                    {
                        <option value="@productType">@productType</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-2 d-flex justify-content-between">
        <div class="form-group">
            <label asp-for="ProductsPerPage"></label>
                <select asp-for="ProductsPerPage" class="form-control" style="width:12.2em">
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="12">12</option>
            </select>
        </div>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-2">
            <div class="form-group">
                <label asp-for="ProductSorting"></label>
                <select asp-for="ProductSorting" class="form-control">
                    <option value="0">Price Ascending</option>
                    <option value="1">Price Descending</option>
                    <option value="2">Name Ascending</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 d-flex justify-content-end" style="padding-top: 1em;">
                <input type="submit" value="Search" class="btn btn-primary" style="width:12.2em" />
        </div>
    </div>
</form>
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalProducts /
    Model.ProductsPerPage);
}
<p></p>
<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
           asp-controller="Product"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-tradeMark="@Model.TradeMark"
           asp-route-productType="@Model.ProductType"
           asp-route-searchString="@Model.SearchString"
           asp-route-productsPerPage="@Model.ProductsPerPage"
           asp-route-productSorting="@((int)Model.ProductSorting)"><<</a>
    </div>
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Products.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Product"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-tradeMark="@Model.TradeMark"
           asp-route-productType="@Model.ProductType"
           asp-route-searchString="@Model.SearchString"
           asp-route-productsPerPage="@Model.ProductsPerPage"
           asp-route-sorting="@((int)Model.ProductSorting)">>></a>
    </div>
</div>
@if (!Model.Products.Any())
{
    <h2 class="text-center">No houses found by the given criteria!</h2>
}

<div class="text-center row">
    <div class="row">
    @foreach (var product in Model.Products)
    {
    <partial name="_ProductPartial" model="@product" />
    }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
}